
@import 'colors';
@import 'globals';

* {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}

html, body {
  height: 100%;
  margin:0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
}

@mixin page {
  height: 100%;
  width: 100vw;
  margin-top: 56px;
  overflow:hidden;
  overflow-x:scroll;
  padding: $margin;
}

p, h1, h2, h3 {
  margin-bottom:$margin;
}

i {
  font-size: 1.25rem;
}

button:not(:first-of-type) {
  margin-left: $margin;
}