
@import 'colors';
@import 'globals';

* {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100vh;
  margin:0;
  font-size: 1.2rem;
}

p, h1, h2, h3 {
  margin-bottom:$margin;
}
